<h1>List of grabbed URLs</h1>
<ul>
  <% @urls.each do |p| %>
    <li>
      <a href="<%=p.short%>"><%=p.short%></a>  has ben used <%=p.counter%> times. <a href="<%=p.long%>"><%=p.ellipsis_long%></a>
    </li>
    <% end%>
</ul>
